<div class="page-header">
  <h1><%= t "admin.users.list_of_user" %></h1>
</div>
<div id="list-users">
  <%= render "list_users" %>
</div>
<p><span class= "glyphicon glyphicon-download-alt"></span>
  <%= link_to t("admin.users.csv"), admin_users_path(format: "csv") %>|
  <%= link_to t("admin.users.excel"), admin_users_path(format: "xls") %></p>
<%= will_paginate %>
